
<app-generic-list [list]="movies">
    <ng-container empty>
        No movie result of this reques.
    </ng-container>

    <ng-container content>
<div class="movies-container">


        <div *ngFor="let movie of movies; let i = index  " class="movie-container">
         <a>
             <img [src]="movie.poster" alt="poster" />
         </a>
         <p>
             {{movie.title}}
         </p>
         <div>
             <a mat-flat-button color="primary"> Edit</a>
        <button mat-flat-button color="warn" type="button">
            Delete
        </button>
            </div>
         
            <div>{{i+1}}.  <label class="bolde">  {{movie.title}}  </label>   
                     </div>
            <div>
                <label class="bolde">Release date:</label> {{movie.releaseDate | date : "dd/MM/YYYY" }}
            </div>
            <div>
                <label class="bolde">Price:</label> {{movie.price | currency: 'EUR'}}
            </div>
            <div>               
               
            </div>
        </div>

    </div>

    </ng-container>
</app-generic-list>