<h2>Search Movies</h2>


<form [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>
             Title
        </mat-label>
        <input formControlName="Title"  matInput>
       </mat-form-field>
       
       <mat-form-field appearance="outline">
           <mat-label>
                Genre
           </mat-label>
           <mat-select formControlName="GenreId"> 
               <mat-option  *ngFor="let item of  genres" [value]="item.id" >{{item.Name}}</mat-option> 
           </mat-select>
       </mat-form-field>


       <div>             
            <mat-checkbox formControlName ="UpcomingReleases"> Upcoming Releases </mat-checkbox> 
       </div>

       <div>             
        <mat-checkbox formControlName ="InTheaters"> In Theaters </mat-checkbox> 
        </div>

        <div>             
            <button mat-flat-button color="warn" (click)="clearForm()">Clear</button>
        </div>

        <app-movies-list [movies]="filterMovies"> </app-movies-list>
      
</form>



